
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&family=Poppins:wght@500&display=swap');

body{
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: rgb(162, 230, 223);
    height: 100vh;
}
.main_div{
    display: flex;
    flex-direction: column;

}

.todo_img{
    width: 100px;
    height: 120px;
}

figure{
    text-align: center;
}

figure figcaption{
    color: rgb(47, 70, 9);
}

.form_control{
    width: 100%;
    height: 27px;
    border: none;
    border-radius: 10px;
    background: black;
    padding: 3px 9px;
    font-size:medium ;
    font-weight: 300;
    color: aliceblue;
}
.plus_icon{
    position: absolute;
    bottom: 7px;
    right: 1px;
    font-weight: bolder;
    font-size: large;
    color: rgba(250, 234, 243, 0.863);

}
.plus_icon:hover{
    color: white;
    font-size: 20px;
}
.add_items{
    position: relative;
}

.each_item{
    display: flex;
    justify-content: space-between;
    background: aqua;
    margin-top: 20px ;
    width: 100%;
    height: 27px;
    padding: 3px 9px;
    position: relative;
    border-radius: 10px;

}

h5{
    position: relative;
    bottom: 20px;
}

.todo_btn{
    display: flex;
    gap: 10px;
    margin-top: 4px;
}

.show_item{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.btn{
    border-radius: 10px;
    border: none;
    padding: 6px;
    font-size: 16px;
    font-weight: 600;
    color: darkgreen;
    transition: 1s;
}

.btn:hover{
    background-color: blueviolet;
    color: aliceblue;
    
}

.icn:hover{
    color: red;
}
.icm:hover{
    color: green;
}